moodledata/
moodle/
.env 

# Venv
backend/.venv

# Credentials
backend/.env

backend/static

# Sys files
.DS_Store
Thumbs.db

# IDE 
.idea/
.vscode/
*.swp
*.swo

README.md.local

static/

*.pyc
*.mp3
*.pdf

__pycache__/